<% include ./partials/header%>
    <div class="jumbotron text-center">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Plan your trip in advance!</p>
        <a href="ideas/add" class="btn btn-dark btn-lg">Add plan</a>
    </div>
<% include ./partials/footer%>